@model MigraineBlog.Models.Category
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Category</title>
</head>
<body>
    <h1>@Model.Name</h1>

    <a href="/Post/CreateByCategoryId">Create a blog post!</a>

    <a href="/Category/Index">Return to Category Index</a>
</body>
</html>
