@model IEnumerable<MigraineBlog.Models.Category>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Blog Topics</title>
    <link href="~/css/NavStyle.css" rel="stylesheet" />
    <link href="~/css/OverallStyle.css" rel="stylesheet" />
    <link href="~/css/ListStyle.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Hind+Vadodara:500|Rock+Salt|Walter+Turncoat&display=swap" rel="stylesheet">
</head>
<body>
    
    <div class="categories">
        
            <h1>Topics</h1>
            <hr />

            @foreach (var category in Model)
            {
                <div class="container-item">
                    <h2>@category.Name</h2>
                    <div>
                        <p>@category.Description</p>
                    </div>
                    <a href="/Category/Details/@category.Id" class="flex-element"><button class="button">Visit This Topic</button></a>
                </div>
            }
        
    </div>

    <nav>
        <a href="~/Home/Index"> HOME </a>
        <a href="~/Category/Index"> BLOGS </a>
        <a href="~/Home/Index/#aboutUs"> ABOUT </a>
    </nav>

</body>
<footer>
    <p>Dan Rasmussen | Rhianna Teetzel | 2020</p>
</footer>
</html>
