@model MigraineBlog.Models.Post
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit Post</title>
    <link href="~/css/NavStyle.css" rel="stylesheet" />
    <link href="~/css/OverallStyle.css" rel="stylesheet" />
    <link href="~/css/ListStyle.css" rel="stylesheet" />
    <link href="~/css/CrudSheet.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Hind+Vadodara:500|Rock+Salt|Walter+Turncoat&display=swap" rel="stylesheet">
</head>
<body>
    <div class="crudbox">
        <h2>@Model.Category.Name</h2>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Update">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">                        
                        <input asp-for="Id" type="hidden" class="form-control" />
                    </div>
                    <div class="form-group">
                        <h2><label asp-for="Author" class="control-label">Your Name:</label></h2>
                        <input asp-for="Author" disabled class="form-control" />
                        <span asp-validation-for="Author" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <h2><label asp-for="Title" class="control-label">Title:</label></h2>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <br />
                   
                    <div class="form-group">
                        <div><h2><label class="control-label">Your Post: </label></h2></div>
                        <textarea asp-for="Body" class="form-control" cols="30" rows="10"></textarea>
                        <span asp-validation-for="Body" class="text-danger"></span>
                    </div>
                    <br />
                    <div>
                        <input value="@DateTime.Now.ToString("MM/dd/yyyy")" type="hidden" class="form-control" />
                    </div>

                    <div class="form-group">                        
                        <input asp-for="CategoryId" type="hidden" class="form-control" />
                    </div>

                    <div class="form-group">
                        <input id="submitButton" type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
        <br />
        <div>
            <a href="/Category/Details/@Model.CategoryId"><button class="button">Back to Blog Posts</button></a>
        </div>
    </div>

    <nav>
        <a href="~/Home/Index"> HOME </a>
        <a href="~/Category/Index"> BLOGS </a>
        <a href="~/Home/Index/#aboutUs"> ABOUT </a>
    </nav>

</body>
</html>
