
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/NavStyle.css" rel="stylesheet" />
    <link href="~/css/OverallStyle.css" rel="stylesheet" />
    <link href="~/css/HomeStyle.css" rel="stylesheet" />

    <title>Home</title>
</head>

    <body>
        <h1>Migraineurs Unite!</h1>
        <h3>A Safe Place to Share Stories and Ask Advice About Your Headaches and Migraines</h3>
            <main>
                <p>This website is dedicated to helping migraineurs and other headache sufferers to connect with each and share their stories/experiences.</p>
                <div><a href="/Category/Index">Category Index</a></div>
            </main>
            <nav>
                <a href="~/Home/Index"> HOME </a>
                <a href="~/Category/Index"> BLOGS </a>
                
            </nav>
    </body>
</html>
