
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/NavStyle.css" rel="stylesheet" />
    <link href="~/css/OverallStyle.css" rel="stylesheet" />
    <link href="~/css/HomeStyle.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Hind+Vadodara:500|Rock+Salt|Walter+Turncoat&display=swap" rel="stylesheet">

    <title>Home</title>
</head>

<body>
    <h1>Migraineurs Unite!</h1>
    
    <main class="container">
        <section id="intro">
            <img class="sitePhoto" src="~/images/Migraine.jpg" />
            <h2>Migraine [noun]</h2>
            <span>mi·​graine | \ ˈmī-ˌgrān</span>
            <p> "a condition marked by recurring moderate to severe headache with throbbing pain that usually lasts from four hours to three days, typically begins on one side of the head but may spread to both sides; is often accompanied by nausea, vomiting, and sensitivity to light or sound, and is sometimes preceded by an aura and is often followed by fatigue."</p>
            <hr />

            <p>This website is dedicated to helping those who suffer from migraines and other types of headaches to connect with one another, seek advice, and share their personal experiences.</p>
            <br/>

            <a href="/Category/Index"><button class="button">View Blog Topics</button></a>
        </section>

        
            
        

        <section id="aboutUs">
            <h2>About The Creators</h2>

            <div>                
                <article>  
                    <img class="headshot" src="~/images/Dan.jpg" />
                    ABOUT DAN ABOUT DAN ABOUT DAN ABOUT DANABOUT DAN ABOUT DANABOUT DAN ABOUT DANABOUT DAN ABOUT DANABOUT DAN ABOUT DANABOUT DAN ABOUT DANABOUT DAN ABOUT DAN ABOUT DAN ABOUT DANABOUT DAN ABOUT DANABOUT DAN ABOUT DANABOUT DAN ABOUT DANABOUT DAN ABOUT DANABOUT DAN ABOUT DANABOUT DAN ABOUT DANABOUT DAN ABOUT DANABOUT DAN ABOUT DANABOUT DAN ABOUT
                </article>
            </div>

            <hr />   

            <div>                
                <article>         
                    <img class="headshot" src="~/images/Rhianna.jpg" />
                    Rhianna is a front-end focused software developer in her apprenticeship at We Can Code It. She has suffered from undiagnosed migraines for approximately the past 6 years. When finding time to relax, she enjoys art, piano, her cats, and video games. Rhianna's go-to cure for her migraines is a hot bath with an icepack on her neck, and some classical music.
                </article>
            </div>

        </section>
    </main>

    <nav>
        <a href="~/Home/Index"> HOME </a>
        <a href="~/Category/Index"> BLOGS </a>
        <a href="#aboutUs"> ABOUT </a>
    </nav>

</body>
<footer>
    <p>Dan Rasmussen | Rhianna Teetzel | 2020</p>
</footer>
</html>
