nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background: blue;
}

nav a{
    color: palevioletred;
    margin: .5em 2em;
    text-decoration: none;
}

nav a:hover{
    background: white;
}